Addition of two numbers

In [1]:
x = 5
y = 10
print(x + y)

15

To check if a number is odd or even

In [3]:
num = int(input("Enter a Number:"))
if num % 2 == 0:
  print("Given number is Even")
else:
  print("Given number is Odd")

Enter a Number:7
Given number is Odd

To check if a number is prime or not

In [6]:
import math
n=int(input("enter a number"))
if n <= 1:
    print(False)
else:
    is_prime = True
    for i in range(2, int(math.sqrt(n)) + 1):
        if n % i == 0:
            is_prime = False
            break
    print(is_prime)

enter a number4
False

To find largest of 4 numbers

In [8]:
a = int(input("enter a number"))
b = int(input("enter a number"))
c = int(input("enter a number"))
d = int(input("enter a number"))
l = [a, b, c, d]
print(max(l))

enter a number3
enter a number5
enter a number7
enter a number3
7

Factorial of a number

In [10]:
n=int(input("enter a number"))
fact = 1
for i in range(1, n + 1):
    fact *= i
print(fact)

enter a number4
24

Reverse a number

In [15]:
a=int(input("enter a number"))
b=str(a)
c=b[::-1]
print(int(c))

enter a number456
654

Palindrome or not Palindrome

In [19]:
a=input("enter a string ")
b=a[::-1]
if b==a:
  print("Its a palindrome")
else:
  print("Its not a palindrome")

enter a string oyoyoyo
Its a palindrome

sum of digit of number

In [22]:
a=int(input("enter a number"))
q=0
b=str(a)
for i in range(len(b)):
  c=0
  c=a%10
  a=a//10
  q+=c
print(q)

enter a number7532
17

multiplication table

In [24]:
a=int(input("enter table value"))
b=int(input("enter number of multiple"))
for i in range(1,b+1):
  print(a,"*",i,"=",a*i)

enter table value44
enter number of multiple10
44 * 1 = 44
44 * 2 = 88
44 * 3 = 132
44 * 4 = 176
44 * 5 = 220
44 * 6 = 264
44 * 7 = 308
44 * 8 = 352
44 * 9 = 396
44 * 10 = 440

simple calculator

In [35]:
a = int(input("enter a number"))
b = int(input("enter a number"))
d = input("enter a symbol")
match(d):
  case"+":
    print(a+b)
  case"-":
    print(a-b)
  case"*":
    print(a*b)
  case"/":
    print(a/b)

enter a number1
enter a number5
enter a symbol/
0.2

print pattern
*
**
***
****

In [36]:
for i in range(5):
  print(i*"*")

*
**
***
****